body {
  background-color: green;
}

.card {
  background: white;
  margin: auto;
  height: 340px;
  width: 250px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  margin-top: 50px;
}

.top-suit {
  font-size: 90px;
}

.bottom-suit {
  position: absolute;
  transform: rotate(180deg);
  right: 1px;
  bottom: 1px;
  font-size: 90px;
}

.number {
  font-size: 105px;
  margin: 100px;
}

.footer {
  margin: 0 auto;
  margin-top: 200px;
  align-items: center;
  display: flex;
}
